*.pkl
*.pyc
*~
*.gz
*.h5

.env
.idea
.settings
.pydevproject
.project



data/ace
data/conll2003_ner
data/ecb+
data/tac2015
data/tempeval3
data/wsj_pos
data/removeComments.py
data/conll2003_ner_german
data/morphtag-german
data/morphtag-latin

results/

data/

predictions, ATIS_1_dev\.conll

predictions, ATIS_1_test\.conll

predictions, ATIS_2_dev\.conll

predictions, ATIS_2_test\.conll

models/\.DS_Store

results_emnlp/

out

out_conll_parse

out_feature

reproduce/

notebook/\.ipynb_checkpoints/

results_backup/

\.DS_Store

result_analyze/

results_analyze/

debug/
